In [49]:
import pandas as pd

data = pd.read_csv('University DataSet.csv')

df = pd.DataFrame(data)

filtered_df = df[(df['Bat Populations '] > 2500) &
                 (df['Sheep Counter'] > 50)&
                 (df['Coursework || Exams'].str.contains("Coursework", na=False))&
                 (df['Campus Accessibility'].str.contains("High", na=False))&
                 (df['Campus Astetics'].str.contains("High", na=False))]

display(filtered_df.sort_values(by=['Sheep Counter'], ascending=False))

,Uni Num,Uni Name,Location,Accomidation Cost (Per Year),Subject Ranking,Grade Boundrs (UCAS Points),Entrance Exam Type,Coursework || Exams,Female %,Male %,Species %,Divercity Reprecentation,Campus Astetics,Campus Accessibility,Undergraduate Population,Num of Cources Offerd (undergrad),Bat Populations,Sheep Counter,On-campus Food Outlets
20,21,Bath Spa,Bath,9849,90,104,Physical Fight,Coursework,52,48,NaN,High,High,High,21340,234.0,2780,10000,4
24,25,Edward Longford University of Life,Bath,0,1000,1000000,Critical Thinking Skills,Coursework,60,40,NaN,High,High,High,2,1.0,2780,1000,1